POLYGON_API_KEY=""
SYMBOL=""
PROXY_URL=http://3.128.134.41:80

# Clickhouse creds
CLICKHOUSE_HOST=""
CLICKHOUSE_HTTP_PORT=""
CLICKHOUSE_USER=""
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_DATABASE=""
CLICKHOUSE_SECURE=""

#Finviz creds
FINVIZ_EMAIL=""
FINVIZ_PASSWORD=""

# Benzinga creds
BENZINGA_EMAIL="
BENZINGA_PASSWORD="

BENZINGA_API_KEY=""

#DOW Jones / Postman API Key
DOW_JONES_API_KEY=""

# Claude Key
ANTHROPIC_API_KEY=""

ANTHROPIC_API_KEY2=""

ANTHROPIC_API_KEY3=""